<main>
<div class="main-visual">
    <section class="container1" id="mv">
      <h1 class="main-title">Lorem Ipsum</h1>
      <p class="text">simply dummy text of the printing</p>
    </section>
  </div>
  <div class="main">
    <div class="gray-container">
      <section class="big-container" id="portfolio">
        <div class="container2">
          <h2 class="title">Portfolio</h2>
          <p class="content">It is a long established fact that a reader will be distracted by the readable</br>
            content of a page when looking at its layout.</br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</br>
          </p>
        </div>
        <div class="container3">
          <div class="box1 box"></div>
          <div class="box2 box"></div>
          <div class="box3 box"></div>
          <div class="box4 box"></div>
          <div class="box5 box"></div>
          <div class="box6 box"></div>
        </div>
      </section>
    </div>
    <section class="big-container2" id="feature">
      <div class="container4">
        <h2 class="title">Feature</h2>
        <p class="content">It is a long established fact that a reader will be distracted by the readable</br>
          content of a page when looking at its layout.</br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      <div class="container5">
        <div class="strength-container">
          <i class="fa fa-code strength-icon"></i>
          <h3 class="strength-title">Strength1</h3>
          <p class="strength-content">Contrary to popular belief, Lorem Ipsum
            is not simply random text. It has roots
            in a piece of classical Latin literature
            from 45 BC, making it over 2000 years
            old. Richard McClintock, a Latin
            professor at Hampden-Sydney College
            in Virginia, looked up one of the more
            obscure Latin words, consectetur</p>
        </div>
        <div class="strength-container">
          <i class="fa fa-desktop strength-icon"></i>
          <h3 class="strength-title">Strength2</h3>
          <p class="strength-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
            a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
            professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
          </p>
        </div>
        <div class="strength-container">
          <i class="fa fa-cogs strength-icon"></i>
          <h3 class="strength-title">Strength3</h3>
          <p class="strength-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
            a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
            professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
          </p>
        </div>
      </div>
    </section>
    <div class="gray-container">
      <section class="big-container3" id="profile">
        <div class="container6">
          <h2 class="title">Profile</h2>
          <p class="content">It is a long established fact that a reader will be distracted by the readable</br>
            content of a page when looking at its layout.</br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
        </div>
        <div class="container7">
          <div class="profile-half-container">
            <%= image_tag("img/my-icon.jpg", class: "profile-image") %>
          </div>
          <div class="profile-half-container">
            <h3 class="detail-title">MyName</h3>
            <p class="detail-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
              in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
              Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
              consectetur
            </p>
            <h3 class="detail-title2">MySkills</h3>
            <p class="detail-content">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
          </div>
        </div>
      </section>
    </div>
    <section class="big-container4" id="contact">
      <div class="container8">
        <h2 class="title">Contact</h2>
        <p class="content">It is a long established fact that a reader will be distracted by the readable</br>
          content of a page when looking at its layout.</br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      <div class="container9">
        <div class="contact-half-container">
          <div class="contact-info">
            <div class="mail">
              <h3 class="detail-title">Mail</h3>
              <%= link_to "xxx@xxx.com", root_path  %>
            </div>
            <div class="tel">
              <h3 class="detail-title2">Tel</h3>
              <%= link_to "000-0000-0000", root_path  %>
            </div>
          </div>
        </div>
        <div class="contact-half-container">
          <div class="sns-container">
            <h3 class="sns">SNS</h3>
            <i class="fa fa-facebook fa-5x sns-icon"></i>
            <i class="fa fa-twitter fa-5x sns-icon"></i>
            <i class="fa fa-instagram fa-5x sns-icon"></i>
          </div>
        </div>
      </div>
    </section>
  </main>